/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

 $f1		: 'Open Sans', sans-serif;

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

$c1 		: #dedede;
$c2 		: #292929;

$p          : #20A0FF;

$w			: #ffffff;
$dw			: #F9FAFC;
$b			: #1F2D3D;
$db         : #1D8CE0;
$lb         : #58B7FF;
$gb			: #686868;
$g  		: #13CE66;
$y			: #F7BA2A;
$r          : #FF4949;
$gy         : #D3DCE6;
$lgy        : #E5E9F2;
$lbk		: #475669;

/* ----------------------------------------------------------------------------
 * Layout
 * ------------------------------------------------------------------------- */

$m-width    : 1140px;

$xxxl       : 60px;
$xxl		: 48px;
$xl         : 28px;
$l          : 24px;
$m          : 18px;
$s          : 16px;
$xs         : 14px;
$xxs        : 12px;
$xxxs		: 10px;